<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Webapp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">

      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <ul class="navbar-nav mb-2 mb-lg-0" >

        <li class="nav-item">
          <button type="button" class="btn btn-lg btn-outline-danger"
            (click)="toggleLogin()">
          Login</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-lg btn-outline-danger">Register</button>
        </li>
       
      </ul>
    </div>
  </div>
</nav>


<div [ngStyle] = modalBoxStyle()>

<div [ngStyle] = "modalStyle()">
    <p>Login</p>

    <form>
      <div class="mb-3">
        <label for="InputEmail" class="form-label">Email address</label>
        <input type="email" class="form-control" id="InputEmail" #inputEmail placeholder="john.doe@gmail.com">
      </div>
      <div class="mb-3">
        <label for="InputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="InputPassword" #inputPassword placeholder="Secure Password">
      </div>
      <button type="button" class="btn btn-primary"
               (click)="login({email:inputEmail.value, password: inputPassword.value})" >Submit</button>


    </form>

</div>

</div>